body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 400px;
  height: 35px;
  font-size: 18px;
}

button {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  padding: 5px 15px;
  font-size: 15px;
}

.book-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}

.book-detail img {
  width: 250px;
  height: auto;
}
